<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.00468524 -0.0155631 0.00681717" rpy="0.128149 1.61547 1.43858" -->
  <!--
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.00468524 -0.0155631 0.00681717   0.50848 0.513413 0.489235 0.488369 right_gripper d435_color_optical_frame" />
  -->
  <node pkg="tf" type="static_transform_publisher" name="right_gripper_to_d435_color_optical" args="
  0.00468524 -0.0155631 0.00681717 0.50848 0.513413 0.489235 0.488369 right_gripper d435_color_optical_frame 10"/>

</launch>
